{% extends 'main/base.html' %}
{% load static i18n %}
{% block content %}
<div class="container my-3">
    <div class="row">
    {% for item in articles_with_images %}
      {% if item.is_pattern %}
        <!-- Квадратик с картинкой -->
        <div class="col-xl-3 col-md-4 col-6 p-2">
          <div class="ratio ratio-1x1">
              <div class="h-100 img-rounded">
                <img src="{% static 'pattern/pattern' %}{{ item.pattern_number }}.png" class="card-img-top" alt="Placeholder Image">
              </div>
          </div>
        </div>
      {% else %}
        <!-- Стандартная карточка статьи -->
        <div class="col-xl-3 col-md-4 col-6 p-2">
          <div class="ratio ratio-1x1">
              <div class="{{ item.css_class }} p-3 d-flex flex-column h-100 w-100 smi-card animated">
                  <div>
                      <a href="{{ item.link }}" target="_blank" class="media-header no-underline no-blue mb-auto">
                          <h4>{% trans item.header %}</h4>
                      </a>
                      <p class="media-subheader"><strong>{% trans item.media_name %}</strong></p>
                  </div>
                  <p class="media-date mt-auto"><strong>{% trans "Дата:" %}</strong> {{ item.date }}</p>
              </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>

    <nav aria-label="{% trans 'Page navigation' %}" class="my-3">
      <ul class="pagination justify-content-center">
        <li class="page-item {% if articles_with_images.number == 1 %}disabled{% endif %}">
          <a class="page-link" {% if articles_with_images.number != 1 %}href="?page=1"{% endif %} aria-label="{% trans 'First' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Первая страница' %}">
            <i class="bi bi-chevron-double-left"></i>
          </a>
        </li>
        <li class="page-item {% if not articles_with_images.has_previous %}disabled{% endif %}">
          <a class="page-link" {% if articles_with_images.has_previous %}href="?page={{ articles_with_images.previous_page_number }}"{% endif %} aria-label="{% trans 'Previous' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Предыдущая страница' %}">
            <i class="bi bi-chevron-left"></i>
          </a>
        </li>

        <!-- Текущая страница -->
        <li class="page-item disabled">
           <span class="page-link" title="{% trans 'Текущая страница' %}">{{ articles_with_images.number }} {% trans 'из' %} {{ articles_with_images.paginator.num_pages }}</span>
        </li>

        <li class="page-item {% if not articles_with_images.has_next %}disabled{% endif %}">
          <a class="page-link" {% if articles_with_images.has_next %}href="?page={{ articles_with_images.next_page_number }}"{% endif %} aria-label="{% trans 'Next' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Следующая страница' %}">
            <i class="bi bi-chevron-right"></i>
          </a>
        </li>
        <li class="page-item {% if articles_with_images.number == articles_with_images.paginator.num_pages %}disabled{% endif %}">
          <a class="page-link" {% if articles_with_images.number != articles_with_images.paginator.num_pages %}href="?page={{ articles_with_images.paginator.num_pages }}"{% endif %} aria-label="{% trans 'Last' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Последняя страница' %}">
            <i class="bi bi-chevron-double-right"></i>
          </a>
        </li>
      </ul>
    </nav>

</div>
{% endblock %}
