{% load static i18n %}
{% load my_tags %}

<div class="modal show" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">Управление Cookies</h5>
            </div>
            <div class="modal-body">
                <p>
                  {% blocktrans trimmed %}
                    Мы используем cookies для повышения удобства использования сайта, анализа трафика и персонализации контента.
                    Некоторые из этих cookies необходимы для функционирования сайта, в то время как другие помогают нам улучшать ваш опыт и сайт в целом.
                    Подробнее о нашем использовании cookies вы можете узнать в нашей <a href="{{ privacy_policy_url }}" class="text-decoration-none">Политике конфиденциальности</a>.
                  {% endblocktrans %}
                </p>
                <form class="mt-2" action="{% url 'save_cookie_settings' %}" method="post">
                    {% csrf_token %}
                    {% for group in cookie_groups %}
                        {% with cookie_value=current_settings|get_item:group.varname %}
                            <div class="form-group form-switch">
                                <input type="checkbox" class="form-check-input" id="{{ group.varname }}" name="{{ group.varname }}"
                                       {% if not group.is_deletable %} checked disabled {% endif %}
                                       {% if cookie_value %} checked {% endif %}>
                                <label class="form-check-label" for="{{ group.varname }}">{{ group.name }}</label>
                                <small class="text-muted d-block">{{ group.description }}</small>
                            </div>
                        {% endwith %}
                    {% endfor %}
                    <div class="form-group mt-5">
                        <button type="submit" name="accept_all" class="btn btn-primary">{% trans 'Принять все' %}</button>
                        <button type="submit" name="accept_necessary" class="btn btn-primary">{% trans 'Принять необходимые' %}</button>
                        <button type="submit" class="btn btn-secondary">Сохранить настройки</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
