{% load i18n %}

<div id="initialCookieBanner" class="fixed-bottom bg-light p-3" style="z-index: 1050;">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ cookies_consent.title }}</h5>
        </div>
        <div class="modal-body">
            <form action="{% url 'save_cookie_settings' %}" method="post" class="mt-2">
                {% csrf_token %}
                <p>{{ cookies_consent.text | safe }}</p>
                <div class="d-grid gap-2 d-sm-block">
                    <button type="submit" name="accept_all" class="btn btn-primary text-nowrap mb-1">
                        {% trans 'Принять все' %}
                    </button>
                    <button type="submit" name="accept_necessary" class="btn btn-secondary text-nowrap mb-1">
                        {% trans 'Только необходимые' %}
                    </button>
                    <button id="manageCookiesButton" type="button" class="btn btn-outline-secondary text-nowrap"
                            data-bs-toggle="modal" data-bs-target="#cookieConsentModal">
                        {% trans 'Настроить' %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
