<!-- Footer -->
{% load i18n %}
<!-- Footer -->
<footer class="text-lg-start border-top">
  <div class="container p-3">
    <div class="row text-center text-lg-left">
      <div class="col-lg-4 col-md-4 mb-3 mb-md-0">
        {% trans "© 2023 Fundacja RFU" %}
      </div>

      <div class="col-lg-4 col-md-4 mb-3 mb-md-0">
        {% trans "Наш адрес: Medyka, 242, Polska" %}
      </div>

      <div class="col-lg-2 col-md-2 mb-3 mb-md-0">
        {% trans "Телефон: (+12) 345-678-90" %}
      </div>

      <div class="col-lg-2 col-md-2 mb-3 mb-md-0">
        <a href="/privacy/" class="text-decoration-none">
          {% trans "Политика конфиденциальности" %}
        </a>
      </div>
    </div>
  </div>
</footer>
