{% load static i18n %}

<!-- Модальное окно -->
<div class="modal fade" id="InfoModal3" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg large-text modal-fullscreen-md-down">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row align-items-start">
                    <img src="{% static 'main/shelter.jpeg' %}" alt="Placeholder Image"
                         class="img-fluid col-12 col-lg-6">
                    <p class="col-lg-6">
                        {% blocktrans trimmed %}
                        Мы содержим шелтер в Пшемысле - место где можно абсолютно бесплатно переночевать
                        и прийти в себя перед дальнейшей дорогой. В шелтере есть удобные кровати, включая
                        медицинские, детская комната, кухня, душ и конечно круглосуточная поддержка дежурных волонтеров.
                        Наши волонтеры доставляют постояльцев шелтера с вокзала и обратно
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
