{% load static i18n %}

{% include 'main/components/hero/modal/modal.html' %}

<div class="row text-center m-0">

  <!-- Первый квадратик -->
  <div class="col-12 col-md-6 p-2">
    <div class="d-flex h-100 flex-column justify-content-center align-items-center intro-box text-start">
      <h1 class=" h1 p-4">
        {{ webhero.h1_title }}
      </h1>
    </div>
  </div>
  <!-- Квадратик для счетчика дней войны -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="d-flex flex-column h-100 justify-content-center align-items-center p-1 dark-blue-box animated cursor-pointer"
           data-toggle="modal" data-target="#InfoModal1">
        <h2 class="big-number">{{ webhero.days_of_war }}</h2>
        <p class="big-text">{{ webhero.days_of_war_label }}</p>
      </div>
    </div>
  </div>
  <!-- Квадратик с картинкой -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="h-100 img-rounded overflow-hidden">
        <img src="{% static 'pattern/'|add:webhero.image_pattern1 %}" class="img-fluid w-100 h-auto"
             alt="Placeholder Image">
      </div>
    </div>
  </div>


  <!-- Квадратик с картинкой -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="h-100 img-rounded">
        <img src="{% static 'pattern/'|add:webhero.image_pattern2 %}" class="img-fluid w-100 h-auto"
             alt="Placeholder Image">
      </div>
    </div>
  </div>
  <!-- Квадратик для счетчика дней РФУ -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="d-flex flex-column h-100 justify-content-center align-items-center p-1 light-blue-box animated cursor-pointer"
           data-toggle="modal" data-target="#InfoModal2">
          <h2 class="big-number">{{ webhero.days_of_rfu }}</h2>
          <p class="big-text">{{ webhero.days_of_rfu_label }}</p>
      </div>
    </div>
  </div>
  <!-- Квадратик для счетчика рейсов -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="d-flex flex-column h-100 justify-content-center align-items-center p-1 blue-box animated cursor-pointer"
           data-toggle="modal" data-target="#InfoModal4">
          <h2 class="big-number">{{ webhero.flights_count }}</h2>
          <p class="big-text">{{ webhero.flights_count_label }}</p>
      </div>
    </div>
  </div>
  <!-- Квадратик для счетчика волонтеров -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="d-flex flex-column h-100 justify-content-center align-items-center p-1 light-blue-box animated cursor-pointer"
           data-toggle="modal" data-target="#InfoModal5">
          <h2 class="big-number">{{ webhero.volunteers_count }}</h2>
          <p class="big-text">{{ webhero.volunteers_count_label }}</p>
      </div>
    </div>
  </div>
  <!-- Квадратик для счетчика беженцев в шелтере -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="d-flex flex-column h-100 justify-content-center align-items-center p-1 light-blue-box animated cursor-pointer"
           data-toggle="modal" data-target="#InfoModal3">
          <h2 class="big-number">{{ webhero.shelter_refugees_count }}</h2>
          <p class="big-text">{{ webhero.shelter_refugees_count_label }}</p>
      </div>
    </div>
  </div>
  <!-- Квадратик для счетчика гуманитарных грузов -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="d-flex flex-column h-100 justify-content-center align-items-center p-1 dark-blue-box animated cursor-pointer"
           data-toggle="modal" data-target="#InfoModal6">
          <h2 class="big-number">{{ webhero.humanitarian_goods_weight }}</h2>
          <p class="big-text">{{ webhero.humanitarian_goods_weight_label }}</p>
      </div>
    </div>
  </div>
  <!-- Квадратик с картинкой -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="h-100 img-rounded">
        <img src="{% static 'pattern/'|add:webhero.image_pattern3 %}"
             class="img-fluid w-100 h-auto" alt="Placeholder Image">
      </div>
    </div>
  </div>
  <!-- Квадратик для счетчика машин -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="d-flex flex-column h-100 justify-content-center align-items-center p-1 yellow-box animated cursor-pointer"
           data-toggle="modal" data-target="#InfoModal7">
          <h2 class="big-number">{{ webhero.cars_count }}</h2>
          <p class="big-text">{{ webhero.cars_count_label }}</p>
      </div>
    </div>
  </div>

</div>
