{% load static i18n %}
<!-- Cards -->
<div class="container px-0 pt-3">
  <div class="row">

    <!-- Карточка Транспорт -->
    <div class="col-md col-g-4 px-2 d-flex flex-column">
      <div class="p-3 dark-blue-box mb-3 h-100">
        <h2>{% trans "Транспорт" %}</h2>
        <p>{% trans "Мы встречаем беженцев как на границе, так и на вокзале, обеспечивая комфортную транспортировку до их места назначения. Наша команда подготовлена работать с медицинскими ситуациями, у нас есть специализированный транспорт для перевозки людей на колясках и лежачих пациентов." %}</p>
      </div>
      <div class="img-rounded h-100">
        <img src="https://via.placeholder.com/400" class="card-img-top" alt="Placeholder Image">
      </div>
    </div>

    <!-- Карточка Вокзал -->
    <div class="col-md col-g-4 px-2 d-flex flex-column">
      <div class="img-rounded mb-3 h-100">
        <img src="https://via.placeholder.com/400" class="card-img-top" alt="Placeholder Image">
      </div>
      <div class="p-3 light-blue-box h-100">
        <h2>{% trans "Вокзал" %}</h2>
        <p>{% trans "Ежедневно с 5:00 до 23:00 наши волонтеры находятся на вокзале, где встречают и провожают поезда из Украины. Большинство прибывающих — это женщины и люди с ограниченными возможностями, составляющие 80% всех беженцев. Мы помогаем с переносом тяжёлых сумок, предоставляем информацию о покупке билетов и даем рекомендации по дальнейшим маршрутам." %}</p>
      </div>
    </div>

    <!-- Карточка Шелтер -->
    <div class="col-md col-g-4 px-2 d-flex flex-column">
      <div class="p-3 light-blue-box mb-3 h-100">
        <h2>{% trans "Шелтер" %}</h2>
        <p>{% trans "Мы управляем приютом, предлагая беженцам временное пристанище — от нескольких часов до нескольких дней. Наша задача — сделать так, чтобы люди, покинувшие опасные зоны, с первых же моментов пребывания здесь почувствовали себя в безопасности." %}</p>
      </div>
      <div class="img-rounded h-100">
        <img src="https://via.placeholder.com/400" class="card-img-top" alt="Placeholder Image">
      </div>
    </div>

  </div>
</div><!-- /Cards -->
