{% load static i18n %}

<div class="row hidden-section pt-3">

    <!-- Первая секция -->
    <div class="col-md-4 px-2">
        <div class="card px-2 h-100">
            <div class="card-body">
                <button class="btn btn-link p-0 no-underline" type="button" data-toggle="collapse" data-target="#section1"
                        aria-expanded="false">
                    <h2><i class="bi bi-people"></i> {% trans "Приехать и встать в наши ряды" %}</h2>
                    <!-- Секция со шевроном -->
                    <div class="d-flex justify-content-center">
                        <i class="h3 bi bi-chevron-compact-down"></i>
                    </div>
                </button>
                <div class="collapse" id="section1">
                    {% trans "Пожалуйста, заполните анкету волонтера Russians for Ukraine, чтобы мы могли с Вами связаться." %}
                    <a href="https://forms.gle/FDrwXD1eFE7MVf17A" class="btn btn-primary mt-3">{% trans "Заполнить анкету" %}</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Вторая секция -->
    <div class="col-md-4 px-2">
        <div class="card  h-100">
            <div class="card-body">
                <button class="btn btn-link p-0 no-underline" type="button" data-toggle="collapse" data-target="#section2"
                        aria-expanded="false">
                    <h2><i class="bi bi-wallet2"></i> {% trans "помочь удаленно деньгами" %}</h2>
                    <!-- Секция со шевроном -->
                    <div class="d-flex justify-content-center">
                        <i class="h3 bi bi-chevron-compact-down"></i>
                    </div>
                </button>
                <div class="collapse" id="section2">
                    {% for method in payment_methods %}
                    <div class="pb-2 border-bottom">
                        <i class="plus-size bi {{ method.icon }}"></i> {{ method.name }}
                        <div>
                            {% if method.link %}
                                <a href="{{ method.link }}">{{ method.link }}</a>
                            {% else %}
                                {{ method.description }}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Третья секция -->
    <div class="col-md-4  px-2">
        <div class="card  h-100">
            <div class="card-body">
                <button class="btn btn-link p-0 no-underline" type="button" data-toggle="collapse" data-target="#section3"
                        aria-expanded="false">
                    <h2><i class="bi bi-share"></i> {% trans "рассказать о нас" %}</h2>
                    <!-- Секция со шевроном -->
                    <div class="d-flex justify-content-center">
                        <i class="h3 bi bi-chevron-compact-down"></i>
                    </div>
                </button>
                <div class="collapse" id="section3">
                    {% trans "Поделитесь ссылкой на нас в социальных сетях:" %}
                    {% for method in social_networks %}
                    <div class="pb-2 border-bottom">
                        <a href="{{ method.link }}"><i class="plus-size bi {{ method.icon }}"></i> {{ method.name }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div> <!-- /hidden section -->