{% load static i18n %}

<div class="row p-2 m-0">

  <!-- Карточка анкета -->
  <div class="col-md-6 col-lg-4 px-2 d-flex flex-column">
    <div class="p-3 dark-blue-box mb-3 animated">
      <h2>{{ help_us.0.title }}</h2>
      <p>{{ help_us.0.text }}</p>
      <a href="https://forms.gle/FDrwXD1eFE7MVf17A" class="btn btn-primary mt-5" target="_blank">
        {% trans "Заполнить анкету" %}
       <i class="bi bi-pencil-fill"></i>
      </a>
    </div>
    <div class="img-rounded d-none d-lg-block h-100">
      <img src="{% if help_us.0.image %}{{ help_us.0.image.url }}{% else %}https://via.placeholder.com/400{% endif %}"
           class="img-fluid" alt="Placeholder Image"
           style="object-fit: cover; width: 100%; height: 100%;">
    </div>
  </div>

  <!-- Карточка соцсети -->
  <div class="col-md-6 col-lg-4 px-2 d-flex flex-column">
    <div class="img-rounded mb-3 d-none d-lg-block h-100">
      <img src="{% if help_us.1.image %}{{ help_us.1.image.url }}{% else %}https://via.placeholder.com/400{% endif %}"
           class="img-fluid"
           alt="Placeholder Image"
           style="object-fit: cover; width: 100%; height: 100%;">
    </div>
    <div class="p-3 dark-blue-box animated mb-3 mb-lg-0">
      <h2>{{ help_us.1.title }}</h2>
      <p class="mb-5">{{ help_us.1.text }}</p>
      {% for method in social_networks %}
        <a href="{{ method.link }}" class="social-icon" target="_blank"
           data-bs-toggle="tooltip" data-bs-placement="top" title="{{ method.name }}">
          <i class="bi {{ method.icon }}"></i>
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="col-md-6 col-lg-4 d-none d-md-block d-sm-none d-xl-none d-lg-none px-2 d-flex flex-column">
    <div class="img-rounded">
      <img src="{% if help_us.2.image %}{{ help_us.2.image.url }}{% else %}https://via.placeholder.com/400{% endif %}"
           class="img-fluid" alt="Placeholder Image"
           style="object-fit: cover; width: 100%; height: 100%;">
    </div>
  </div>

  <!-- Карточка деньги -->
  <div class="col-md-6 col-lg-4 px-2 d-flex flex-column">
    <div class="p-3 yellow-box animated">
      <h2>{{ help_us.2.title }}</h2>
      <p>{{ help_us.2.text }}</p>
      {% for method in payment_methods %}
        <a href="{{ method.link }}" class="btn btn-light mb-3 w-100 px-5 d-flex justify-content-between"
                target="_blank">
          {% trans method.name %}
          {% if method.image %}
            <img src="{{ method.image }}" style="height: 1.5em;" alt="{% trans method.name %}">
          {% else %}
            <i class="{{ method.icon }}"></i>
          {% endif %}
        </a>
      {% endfor %}
      <h2>{{ help_us.3.title }}</h2>
      <p>{{ help_us.3.text }}</p>

      <!-- Группа кнопок с дропдауном -->
      {% for method in crypto %}
        <button class="btn btn-light mb-3 w-100 px-5 d-flex justify-content-between"
                onclick="copyToClipboard('{{ method.description|safe }}', this)"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans 'Скопировать' %}">
          <div>
            <span><i class="{{ method.icon }}"></i> {% trans method.name %} | </span>
            {{ method.description|slice:":7" }}...
          </div>
          <i class="bi bi-copy"></i>
        </button>
      {% endfor %}

    </div>

  </div>

</div>
