{% load static i18n %}
<div class="row text-center m-0">

  <!-- Первый квадратик -->
  <div class="col-12 col-md-6 p-2">
    <div class="d-flex h-100 flex-column justify-content-center align-items-center intro-box text-start">
      <p class="p-4">
        {% trans "с 26 февраля 2022 года мы первые, кто протягивает руку помощи на польско-украинской границе" %}
      </p>
    </div>
  </div>
  <!-- Квадратик для счетчика дней войны -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="d-flex flex-column h-100 justify-content-center align-items-center p-1 dark-blue-box">
        <h2 class="big-number">{{ days_of_war }}</h2>
        <p class="big-text">{% trans "дней войны" %}</p>
      </div>
    </div>
  </div>
  <!-- Квадратик с картинкой -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="h-100 img-rounded overflow-hidden">
        <img src="{% static 'pattern/pattern6.png' %}" class="img-fluid w-100 h-auto" alt="Placeholder Image">
      </div>
    </div>
  </div>


  <!-- Квадратик с картинкой -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="h-100 img-rounded">
        <img src="{% static 'pattern/pattern4.png' %}" class="img-fluid w-100 h-auto" alt="Placeholder Image">
      </div>
    </div>
  </div>
  <!-- Квадратик для счетчика беженцев в шелтере -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="d-flex flex-column h-100 justify-content-center align-items-center p-1 light-blue-box">
        <h2 class="big-number">2600</h2>
        <p class="big-text">{% trans "беженцев в шелтере" %}</p>
      </div>
    </div>
  </div>
  <!-- Квадратик для счетчика рейсов -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="d-flex flex-column h-100 justify-content-center align-items-center p-1 blue-box">
        <h2 class="big-number">{{ flights_count }}</h2>
        <p class="big-text">{% trans "рейсов в Европу" %}</p>
      </div>
    </div>
  </div>
  <!-- Квадратик для счетчика волонтеров -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="d-flex flex-column h-100 justify-content-center align-items-center p-1 light-blue-box">
         <h2 class="big-number">320</h2>
        <p class="big-text">{% trans "волонтеров" %}</p>
      </div>
    </div>
  </div>

  <!-- Квадратик для счетчика дней РФУ -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="d-flex flex-column h-100 justify-content-center align-items-center p-1 light-blue-box">
        <h2 class="big-number">{{ days_of_rfu }}</h2>
        <p class="big-text">{% trans "дней РФУ" %}</p>
      </div>
    </div>
  </div>
  <!-- Квадратик для счетчика гуманитарных грузов -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="d-flex flex-column h-100 justify-content-center align-items-center p-1 dark-blue-box">
        <h2 class="big-number">50</h2>
        <p class="big-text">{% trans "тонн грузов" %}</p>
      </div>
    </div>
  </div>
  <!-- Квадратик с картинкой -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="h-100 img-rounded">
        <img src="{% static 'pattern/pattern9.png' %}" class="img-fluid w-100 h-auto" alt="Placeholder Image">
      </div>
    </div>
  </div>
  <!-- Квадратик для счетчика машин -->
  <div class="col-6 col-md-3 p-2">
    <div class="ratio ratio-1x1">
      <div class="d-flex flex-column h-100 justify-content-center align-items-center p-1 yellow-box">
        <h2 class="big-number">350</h2>
        <p class="big-text">{% trans "машин" %}</p>
      </div>
    </div>
  </div>

</div>
