{% load static %}
<!-- Hero Section -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!-- Left div -->
      <div class="cloud-words-left bg-pattern" style="background-image: url('{% static 'pattern.png' %}');">
        <!-- Content here -->
      </div>
    </div>
    <div class="col-md-8">
      <!-- Central Hero Image -->
      <img src="{% static 'img.png' %}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md-2">
      <!-- Right div -->
      <div class="cloud-words-right bg-pattern" style="background-image: url('{% static 'pattern_ua.png' %}');">
        <!-- Content here -->
      </div>
    </div>
  </div>
</div>
