{% load static i18n %}
<!-- Cards -->

<div class="row p-2 m-0">

  <!-- Карточка Транспорт для мобильных устройств -->
  <div class="col-12 d-block d-md-none blog-card border-0 p-2 my-2">
    <div class="card p-3 border-0">
      <div class="card-body">
        <h5 class="card-title">{% trans "Транспорт" %}</h5>
        <p>{% trans "Мы встречаем беженцев как на границе, так и на вокзале, обеспечивая комфортную транспортировку до их места назначения. Наша команда подготовлена работать с медицинскими ситуациями, у нас есть специализированный транспорт для перевозки людей на колясках и лежачих пациентов." %}</p>
      </div>
      <img src="{% static 'main\busik.jpg' %}" class="card-img-bottom" alt="Транспорт Image">
    </div>
  </div>

  <!-- Карточка Вокзал для мобильных устройств -->
  <div class="col-12 d-block d-md-none blog-card border-0 p-2 my-2">
    <div class="card p-3 border-0">
      <div class="card-body">
        <h5 class="card-title">{% trans "Вокзал" %}</h5>
        <p>{% trans "Ежедневно с 5:00 до 23:00 наши волонтеры находятся на вокзале, где встречают и провожают поезда из Украины. Большинство прибывающих — это женщины и люди с ограниченными возможностями, составляющие 80% всех беженцев. Мы помогаем с переносом тяжёлых сумок, предоставляем информацию о покупке билетов и даем рекомендации по дальнейшим маршрутам." %}</p>
      </div>
      <img src="{% static 'main\station.jpg' %}" class="card-img-bottom" alt="Вокзал Image">
    </div>
  </div>

  <!-- Карточка Шелтер для мобильных устройств -->
  <div class="col-12 d-block d-md-none blog-card border-0 p-2 my-2">
    <div class="card p-3 border-0">
      <div class="card-body">
        <h5 class="card-title">{% trans "Шелтер" %}</h5>
        <p>{% trans "Мы управляем приютом, предлагая беженцам временное пристанище — от нескольких часов до нескольких дней. Наша задача — сделать так, чтобы люди, покинувшие опасные зоны, с первых же моментов пребывания здесь почувствовали себя в безопасности." %}</p>
      </div>
      <img src="{% static 'main\shelter.jpg' %}" class="card-img-bottom" alt="Шелтер Image">
    </div>
  </div>

  <!-- Карточка Транспорт -->
  <div class="col-md col-lg-4 col-md-6 px-2 d-flex flex-column">
    <div class="p-4 dark-blue-box mb-3 h-100 d-none d-md-block">
      <h2>{% trans "Транспорт" %}</h2>
      <p>{% trans "Мы встречаем беженцев как на границе, так и на вокзале, обеспечивая комфортную транспортировку до их места назначения. Наша команда подготовлена работать с медицинскими ситуациями, у нас есть специализированный транспорт для перевозки людей на колясках и лежачих пациентов." %}</p>
    </div>
    <div class="img-rounded h-100 d-none d-md-block">
      <img src="{% static 'main\busik.jpg' %}" class="img-fluid" alt="Placeholder Image"
           style="object-fit: cover; width: 100%; height: 100%;">
    </div>
  </div>

  <!-- Карточка Вокзал -->
  <div class="col-md col-lg-4 col-md-6 px-2 d-flex flex-column">
    <div class="img-rounded mb-3 h-100 d-none d-md-block">
      <img src="{% static 'main\station.jpg' %}" class="img-fluid" alt="Placeholder Image"
           style="object-fit: cover; width: 100%; height: 100%;">
    </div>
    <div class="p-4 light-blue-box h-100 d-none d-md-block">
      <h2>{% trans "Вокзал" %}</h2>
      <p>{% trans "Ежедневно с 5:00 до 23:00 наши волонтеры находятся на вокзале, где встречают и провожают поезда из Украины. Большинство прибывающих — это женщины и люди с ограниченными возможностями, составляющие 80% всех беженцев. Мы помогаем с переносом тяжёлых сумок, предоставляем информацию о покупке билетов и даем рекомендации по дальнейшим маршрутам." %}</p>
    </div>
  </div>

  <!-- Карточка Шелтер для lg -->
  <div class="col-md-12 col-lg-4 col-md-6 px-2 d-flex flex-column">
    <div class="p-4 light-blue-box mb-3 h-100 d-none d-lg-block">
      <h2>{% trans "Шелтер" %}</h2>
      <p>{% trans "Мы управляем приютом, предлагая беженцам временное пристанище — от нескольких часов до нескольких дней. Наша задача — сделать так, чтобы люди, покинувшие опасные зоны, с первых же моментов пребывания здесь почувствовали себя в безопасности." %}</p>
    </div>
    <div class="img-rounded h-100 d-none d-lg-block">
      <img src="{% static 'main\shelter.jpg' %}" class="img-fluid" alt="Placeholder Image"
           style="object-fit: cover; width: 100%; height: 100%;">
    </div>
  </div>

    <!-- Карточка Шелтер для md -->
  <div class="px-0 d-none d-md-block d-lg-none">
    <div class="row py-2 px-1">
      <div class="col-md-6 p-2">
        <div class="p-4 light-blue-box mb-3 h-100">
          <h2>{% trans "Шелтер" %}</h2>
          <p>{% trans "Мы управляем приютом, предлагая беженцам временное пристанище — от нескольких часов до нескольких дней. Наша задача — сделать так, чтобы люди, покинувшие опасные зоны, с первых же моментов пребывания здесь почувствовали себя в безопасности." %}</p>
        </div>
      </div>
      <div class="col-md-6 p-2">
        <div class="px-0 img-rounded h-100">
          <img src="{% static 'main\shelter.jpg' %}" class="img-fluid" alt="Placeholder Image"
               style="object-fit: cover; width: 100%; height: 100%;">
        </div>
      </div>
    </div>
  </div>

</div>
