/* ===================== */
/* Стили для hero-секции */
/* ===================== */


/* Стиль для вводного квадратика */

.intro-box {
  background: #FFFFFF;
  color: #151E3F;
}

/* Стиль для голубого квадратика */
.blue-box {
  border-radius: 30px;
  background: #0083D6;
  color: #FFFFFF;
}

/* Стиль для темно-голубого квадратика */
.dark-blue-box {
  border-radius: 30px;
  background: #151E3F;
  color: #FFFFFF;
}

/* Стиль для светло-голубого квадратика */
.light-blue-box {
  border-radius: 30px;
  background: #D6EFFF;
  color: #151E3F;
}

/* Стиль для желтого квадратика */
.yellow-box {
  border-radius: 30px;
  background: #FFA21F;
  color: #FFFFFF;
}

/* Стили для крупного текста в квадратиках */
.big-number {
  font-size: 4rem;
  font-weight: bold;
}

.big-text {
  font-size: 1.5rem;
}

.img-rounded {
  border-radius: 30px;
  overflow: hidden; /* Это гарантирует, что изображение не выйдет за пределы закругленных углов */
}

/* ===================== */
/* стили для навигации */
/* ===================== */

/* Увеличение размера шрифта и расстояния между элементами навигации */
.navbar-nav .nav-item {
  font-size: 1.5em; /* Увеличиваем размер шрифта */
  margin-right: 15px; /* Добавляем маржин справа для большего расстояния между элементами */
  margin-left: 15px; /* Добавляем маржин слева для большего расстояния между элементами */
}

/* Стилизация выпадающего меню языков */
.navbar-nav .dropdown-menu {
  font-size: 0.8em; /* Увеличиваем размер шрифта в выпадающем меню */
}

/* Стилизация ссылок навигации */
.navbar-nav .nav-link {
  transition: background-color 0.3s, box-shadow 0.3s; /* Плавный переход для фона и тени */
  border-radius: 40px; /* Скругление углов для фона */
  padding: 0.3em 3em; /* Добавляем отступы вокруг текста */
}

/* Эффект при наведении */
.navbar-nav .nav-link:hover {
  background-color: #D6EFFF; /* Цвет фона при наведении */
}

.dropdown-item:hover {
    background-color: #FFC107;
    color: #088CE8 !important;
}

.plus-size {
    font-size: 1.25em;
}

/* ===================== */
/* стили для вкладок */
/* ===================== */


.nav-tabs {
  background-color: #0083D6; /* цвет фона */
  border-radius: 40px; /* скругление углов */
  display: flex;
  padding: 5px;
}

/* Добавляем внешний отступ для всех элементов, кроме первого и последнего */
.nav-tabs .nav-item:not(:first-child):not(:last-child) {
  margin: 0 20px; /* Добавляем отступы по бокам */
}

.nav-item {
  flex: 1;
  text-align: center;
  font-size: 1.25em;
  color: #088CE8;
}

.nav-link {
  color: #FFFFFF;
}

/* Стиль для активной вкладки */
.nav-tabs .nav-item .nav-link.active {
  background-color: #FFFFFF; /* белый фон для активной вкладки */
  color: #151E3F; /* цвет текста для активной вкладки */
  border-radius: 40px; /* скругление углов для активной вкладки */
}

/* Стиль при наведении */
.nav-tabs .nav-item:not(.active) .nav-link:hover {
  background-color: #FFA21F;
  color: #FFFFFF;
  border-radius: 40px; /* скругление углов при наведении */
}

/* ===================== */
/* стили для ссылок */
/* ===================== */

.no-underline {
    text-decoration: none;
}

.no-underline:hover,
.no-underline:focus {
    text-decoration: none;
}

/* ===================== */
/* стили для кнопок
/* ===================== */

.btn-primary {
  background-color: #088CE8;
  border-color: #088CE8;
  border-radius: 40px; /* Скругление углов кнопки */
  padding: 10px 20px; /* Отступы внутри кнопки */
  font-size: 16px; /* Размер шрифта текста на кнопке */
}

.btn-primary:hover {
  background-color: #FFA21F;
  border-color: #FFA21F;
}

.btn-primary:focus {
  background-color: #FFA21F;
  border-color: #FFA21F;
}

.btn-light {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  border-radius: 40px; /* Скругление углов кнопки */
  padding: 10px 20px; /* Отступы внутри кнопки */
  font-size: 16px; /* Размер шрифта текста на кнопке */
}

.btn-light:hover {
  background-color: #FFA21F;
  border-color: #FFA21F;
}

.btn-light:focus {
  background-color: #FFC107;
  border-color: #FFA21F;
}

.btn-warning {
  background-color: #FFA21F;
  border-color: #FFA21F;
  color: #FFFFFF;
  border-radius: 40px; /* Скругление углов кнопки */
  padding: 10px 20px; /* Отступы внутри кнопки */
  font-size: 20px; /* Размер шрифта текста на кнопке */
}

.btn-warning:hover {
  background-color: #088CE8;
  border-color: #088CE8;
  color: #FFFFFF;
}

.btn-warning:focus {
  background-color: #088CE8;
  border-color: #088CE8;
  color: #FFFFFF;
}

.bi-box-arrow-in-up-right {
  margin-left: 8px; /* Отступ иконки от текста */
  background-color: #FFFFFF;
  color: #000000;
}

/* ===================== */
/* стили для иконок */
/* ===================== */

.social-icon {
  display: inline-flex; /* или 'inline-block' если не используете flexbox */
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Делает круглую форму */
  background-color: white; /* Фоновый цвет круга */
  width: 40px; /* Размер круга */
  height: 40px; /* Размер круга */
  margin-right: 10px; /* Отступ между иконками */
  text-decoration: none; /* Убирает подчеркивание ссылки */
}

.social-icon:hover {
  background-color: #FFA21F; /* Цвет фона при наведении */
}

.social-icon i {
  color: #000; /* Цвет иконки */
}
