body {
  background-color: #FFFFFF;
  color: #212121;
}

.navbar {
  border-bottom: 1px solid #dee2e6; /* Черная нижняя граница */
}

.dropdown-item:hover {
    background-color: #FFC107;
    color: #088CE8 !important;
}

/* Кнопки */
.btn-primary {
  background-color: #088CE8;
  border-color: #088CE8;
}

.btn-primary:hover {
  background-color: #FFC107;
  border-color: #FFC107;
}

.social-icons i {
    background-color: #088CE8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 10px;
}

.social-icons i:hover {
    background-color: #FFC107;
}

.modal-content img {
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
}

/* Формы */
.form-control {
  background-color: #F5F5F5;
  color: #212121;
}

/* Уведомления */
.alert-success {
  background-color: #4CAF50;
  color: #FFFFFF;
}

.alert-warning {
  background-color: #FFC107;
  color: #212121;
}

.alert-danger {
  background-color: #F44336;
  color: #FFFFFF;
}

/* Ссылки и акценты */
a {
  color: #9C27B0;
}

.no-underline {
    text-decoration: none;
}

.no-underline:hover,
.no-underline:focus {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
        color: #088CE8;
}

.plus-size {
    font-size: 1.25em;
}

.text-full {
    display: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.125);
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: #757575;
}

.card.no-transform:hover {
  transform: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.nav-tabs {
  display: flex; /* Флексбокс для вкладок */
}

.nav-item {
  flex: 1; /* Каждая вкладка занимает одинаковое пространство */
  text-align: center; /* Центрирование текста внутри вкладки */
  font-size: 1.25em;
  color: #088CE8;
}

.nav-link {
  color: #088CE8; /* Ваш цвет текста */
}

footer {
    background-color: #088CE8;
}

.bg-pattern {
  background-repeat: repeat;
  min-height: 100%;
  background-size: 200px 200px;
}