{% extends 'main/base.html' %}
{% load static i18n %}
{% block content %}

<div class="m-1 container">
    <div class="row m-1">
        {% for post in posts %}
        <div class="col-lg-6 col-12 p-2">
            <div class="blog-card p-5 h-100 d-flex flex-column animated">
                <div>
                    <div class="post-date fw-bold">
                        {{ post.date|default:post.created_at|date }}
                    </div>
                    <div class="mt-2 text-truncated">
                        <span class="text-short">{{ post.content|truncatechars:400|safe }}</span>
                        <span class="text-full" style="display: none;">{{ post.content|safe }}
                            {% if post.content|length > 400 %}
                                <a href="javascript:void(0);" class="show-more-link">...less</a>
                            {% endif %}
                        </span>
                        {% if post.content|length > 400 %}
                            <a href="javascript:void(0);" class="show-more-link">more</a>
                        {% endif %}
                    </div>

                    <div class="d-flex justify-content-center my-3">
                        <div id="carouselWithControls{{ post.id }}" class="carousel slide w-75" data-bs-ride="carousel">
                          <div class="carousel-inner">
                            {% for image in post.images.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                              <img src="{{ image.image.url }}" class="d-block w-100" alt="Slide {{ forloop.counter }}">
                            </div>
                            {% endfor %}
                          </div>
                          <a class="carousel-control-prev" href="#carouselWithControls{{ post.id }}" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselWithControls{{ post.id }}" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </a>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between mt-auto">
                    <!-- Кнопка лайка -->
                    <!-- Панель соцсетей -->
                    <div class="social-icons">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}&quote={% trans "Посмотрите новый пост Russians for Ukraine" %}"
                        class="social-icon"
                        target="_blank">
                            <i class="plus-size bi bi-facebook"></i>
                        </a>
                        <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={% trans "Посмотрите новый пост Russians for Ukraine" %}"
                        class="social-icon"
                        target="_blank">
                            <i class="plus-size bi bi-twitter"></i>
                        </a>
                        <a href="https://t.me/share/url?url={{ request.build_absolute_uri }}&text={% trans "Посмотрите новый пост Russians for Ukraine" %}"
                        class="social-icon"
                        target="_blank">
                            <i class="plus-size bi bi-telegram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    <nav aria-label="{% trans 'Page navigation' %}" class="my-3">
      <ul class="pagination justify-content-center">
        <li class="page-item {% if posts.number == 1 %}disabled{% endif %}">
          <a class="page-link" {% if posts.number != 1 %}href="?page=1"{% endif %} aria-label="{% trans 'First' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Первая страница' %}">
            <i class="bi bi-chevron-double-left"></i>
          </a>
        </li>
        <li class="page-item {% if not posts.has_previous %}disabled{% endif %}">
          <a class="page-link" {% if posts.has_previous %}href="?page={{ posts.previous_page_number }}"{% endif %} aria-label="{% trans 'Previous' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Предыдущая страница' %}">
            <i class="bi bi-chevron-left"></i>
          </a>
        </li>

        <!-- Текущая страница -->
        <li class="page-item active">
          <span class="page-link" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Текущая страница' %}">{{ posts.number }}</span>
        </li>

        <li class="page-item {% if not posts.has_next %}disabled{% endif %}">
          <a class="page-link" {% if posts.has_next %}href="?page={{ posts.next_page_number }}"{% endif %} aria-label="{% trans 'Next' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Следующая страница' %}">
            <i class="bi bi-chevron-right"></i>
          </a>
        </li>
        <li class="page-item {% if posts.number == posts.paginator.num_pages %}disabled{% endif %}">
          <a class="page-link" {% if posts.number != posts.paginator.num_pages %}href="?page={{ posts.paginator.num_pages }}"{% endif %} aria-label="{% trans 'Last' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Последняя страница' %}">
            <i class="bi bi-chevron-double-right"></i>
          </a>
        </li>
      </ul>
    </nav>
</div>

{% endblock %}
