{% extends 'main/base.html' %}
{% load static i18n %}
{% block content %}
<div class="container my-3">
    {% for post in posts %}
    <div class="blog-card mb-5 p-5 animated">
        <h2>{% trans post.title %}</h2>
        <div class="post-date">
            {{ post.date|default:post.created_at|date }}
        </div>
        <div class="mt-4 text-truncated">
            <span class="text-short">{{ post.content|truncatechars:400|safe }}</span>
            <span class="text-full" style="display: none;">{{ post.content|safe }}
                {% if post.content|length > 400 %}
                    <a href="javascript:void(0);" class="show-more-link">...less</a>
                {% endif %}
            </span>
            {% if post.content|length > 400 %}
                <a href="javascript:void(0);" class="show-more-link">more</a>
            {% endif %}
        </div>

        <div class="d-flex justify-content-center my-3">
            <div id="carouselWithControls{{ post.id }}" class="carousel slide w-50" data-bs-ride="carousel">
              <div class="carousel-inner">
                {% for image in post.images.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <img src="{{ image.image.url }}" class="d-block w-100" alt="Slide {{ forloop.counter }}">
                </div>
                {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#carouselWithControls{{ post.id }}" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselWithControls{{ post.id }}" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>
        </div>

        <div class="d-flex justify-content-between my-3">
            <!-- Кнопка лайка -->
            <!-- Панель соцсетей -->
            <div class="social-icons">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}&quote={% trans "Посмотрите новый пост Russians for Ukraine" %}"
                class="social-icon"
                target="_blank">
                    <i class="plus-size bi bi-facebook"></i>
                </a>
                <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={% trans "Посмотрите новый пост Russians for Ukraine" %}"
                class="social-icon"
                target="_blank">
                    <i class="plus-size bi bi-twitter"></i>
                </a>
                <a href="https://t.me/share/url?url={{ request.build_absolute_uri }}&text={% trans "Посмотрите новый пост Russians for Ukraine" %}"
                class="social-icon"
                target="_blank">
                    <i class="plus-size bi bi-telegram"></i>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

</div>
{% endblock %}


