<!-- Footer -->
<footer class="text-lg-start">
  <div class="container p-4">
    <h5>Russians for Ukraine</h5>
  </div>
  <div class="container p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="row">
      <div class="col-md-6 text-center text-md-left">
        Adres: Medyka, 242, Polska<br>
        Telefon: +1234567890<br>
        Email: info@russiansforukraine.org<br>
      </div>
      <div class="col-md-6 text-center text-md-right">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdTwEHi1-i4I32PxhBhGKdmPqfmcnmSAT6rj_7AuDxzIyMHdg/viewform?usp=sharing" target="_blank" rel="noopener noreferrer">Ошибки и предложения</a>
      </div>
    </div>
    <div class="text-center">
      © 2023 Russians for Ukraine
    </div>
  </div>
</footer>
