{% load static %}
{% load i18n %}
  <!-- Navbar -->
  <nav class="navbar navbar-lg navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <img src="{% static 'logo.png' %}" alt="rfu logo" height="60">
      Russians for Ukraine
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">
                Главная
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">
                СМИ
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog' %}">
                Блог
            </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">🌍 Язык</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">🇷🇺 Русский</a>
            <a class="dropdown-item" href="#">🇬🇧 English</a>
            <a class="dropdown-item" href="#">🇺🇦 Українська</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>